.pinkEllipsis {
  width: 302px;
  height: 302px;
  background: rgba(255, 0, 200, 0.46);
  filter: blur(150px);
}
.blueEllipsis {
  width: 302px;
  height: 302px;
  background: #17178f;
  filter: blur(150px);
}
