.partnersWrapper{
    background: #1B0D3D;
    .innerWrapper{
        .title{
            font-family: 'Sofia Pro Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 38px;
            line-height: 54px;
            letter-spacing: 0.31em;
            text-transform: capitalize;
            color: #919191;
            text-align: center;
        }
    }
}