.presalePhaseDetailWrapper {
    font-family: 'Sofia Pro Regular';
    font-size: 16px;

    .presalePhaseDetailTitle {
        font-size: 18px;
        color: #FC00FF;
    }

    .presalePhaseDetailText {
        color: #B6B6B6;
        font-weight: 300;
    }

    .bg-success {
        background-color: #FC00FF;
    }
}