.cardBlockWrapper {
  background: #2f1b61;
  border-radius: 14px;
  max-width: 305px;

  .cardImgItem {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

  .cardsubTitle {
    font-family: 'Sofia Pro Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #b1aaaa;
  }

  .discountBtn {
    background: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
    border-radius: 3px;
    height: 32px;
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    border: 0;
    &:hover {
      background: linear-gradient(90deg, #ff00c8 0%, #00aade 100%);
  }
  }

  .title {
    font-family: 'Sofia Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    color: #b1aaaa;
  }

  .beforePrice {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 19px;
    -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through; 
   color: #757575;
  }

  
}

.price {
  font-family: 'Sofia Pro Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 19px;
  color: #ffffff;
}
