.roadMapWrapper {
    font-family: 'Sofia Pro';
    font-weight: 400;
    padding: 120px 0;

    .triangle {
        width: 100vh;
        height: 100vh;
        background: linear-gradient(to top left, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 40%, #0F0336 40%, #0F0336 100%);
    }

    .roadMapHeadingContainer {
        margin-top: 40px;
        position: relative;

        .roadMapTitle {
            font-family: "Sofia Pro Bold";
            font-size: 48px;
            text-align: center;
            color: #FFF;
        }

        .roadMapStatusesList {
            --bs-list-group-color: #FFF;
            --bs-list-group-bg: none;
            --bs-list-group-border-color: none;
            width: 220px;
            font-size: 18px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .roadmapConnectingLines {
        border: 2px solid #A052F4;
        opacity: 1;
        position: relative;
        top: 50%;
        margin-top: -10px;
    }

    .rodmapConnectingVerticalLine {
        opacity: 1;
        border: 2px solid #A052F4;
        height: 185px;
        position: absolute;
        z-index: -9999;
        top: -180px;
        left: 50%;
        margin-left: -2px;
    }

    .roadmapZigZagConnector {
        .upperVerticalLine {
            top: -200px;
            height: 100px;
        }

        .lowerVerticalLine {
            top: -104px;
            height: 115px;
            left: -50%;
        }

        .roadmapConnectingLines {
            left: -50%;
            top: -94px;
        }
    }
}