.roadMapWrapper {
    font-family: 'Sofia Pro';
    font-weight: 400;

    .triangle {
        width: 100vh;
        height: 100vh;
        background: linear-gradient(to top left, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 40%, #0F0336 40%, #0F0336 100%);
    }

    .roadMapHeadingContainer {
        margin-top: 180px;
        position: relative;

        .roadMapTitle {
            font-family: "Sofia Pro Bold";
            font-size: 48px;
            text-align: center;
            color: #FFF;
        }

        .roadMapStatusesList {
            --bs-list-group-color: #FFF;
            --bs-list-group-bg: none;
            --bs-list-group-border-color: none;
            width: 220px;
            font-size: 18px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}