.sidebarWrapper{
    .sidebarImg{
        height: 758px;
        width: 100%;
        object-fit: cover;
    }
    .sidebarImgItem{
        height: 559px;
        width: 100%;
        object-fit: cover;
    }
}