.subscribeBlockWrapper {
  background: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
  .title {
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
  }
  .description {
    font-family: 'Sofia Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  .inputWrapper{
    max-width: 100%;
    .inputItem{
        height: 84px;
        border-radius: 0;
        flex: 2;
        max-width: 100%;
    }
    .actionBtn{
        border: 2px solid #FFFFFF;
        background: #25BBE3;
        font-family: 'Sofia Pro Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        border-radius: 0;
        height: 84px;
        flex: 1;
        &:hover {
          background: linear-gradient(90deg, #ff00c8 0%, #00aade 100%);
          border-color: #ff00c8;
      }
    }
  }
}
