.blockWrapper{
    .title{
        font-family: 'Sofia Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 68px;
        color: #FFFFFF;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 45px;
          }
    }
    .description{
        font-family: 'Sofia Pro Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #AEAEAE;
    }
    .actionBtn{
        background: linear-gradient(90deg, #FC00FF 0%, #00DBDE 100%);
        box-shadow: 0px 5px 14px rgba(242, 72, 115, 0.38);
        border-radius: 100px;
        height: 61px;
        width: 139px;
        font-family: 'Sofia Pro Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        border: 0;
        &:hover {
            background: linear-gradient(90deg, #ff00c8 0%, #00aade 100%);
        }
    }
    .pinkItemEllipsis{
        width: 302px;
        height: 302px;
        background: rgba(255, 0, 200, 0.67);
        filter: blur(80px);
    }
}