.gameReviewCardWrapper{
    background: #2F1B61;
    border-radius: 14px;
    .cardImg{
        border-radius: 8px;
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
    .title{
        font-family: 'Sofia Pro Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
    }
    .rating{
        font-family: 'Sofia Pro Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #FC00FF;
    }
    .description{
        font-family: 'Sofia Pro Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #ACACAC;
    }
}