.gameReviewWrapper{
    .blockTitle{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 68px;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 45px;
          }
    }
    .pinkEllipsis{
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
    }
}