.horizontolNewsCardWrapper{
    background: #2F1B61;
    border-radius: 12px;
    .cardImg{
        width: 165px;
        height: 182px;
        object-fit: cover;
        border-radius: 4px;
    }
    .date{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #E2E2E2;
    }
    .calenderIcon{
        svg{
            height: 24px;
            width: 24px;
            path{
                fill: #16BFFD;
            }
        }
    }
    .commentIcon{
        svg{
            width: 32px;
            height: 26px;
            path{
                fill: #F15F79;
            }
        }
    }
    .description{
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }
}