.poplarNewsWrapper {
  .blockTitle {
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .pinkEllipsis{
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  .blueEllipsis{
    position: absolute;
    top: -20px;
    right: 0;
  }
}
