.verticalNewsCardWrapper {
  background: #2f1b61;
  border-radius: 14px;
  .cardImgItem {
    border-radius: 8px;
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  .cardTitle {
    font-family: 'Sofia Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
  }
  .cardDescription {
    font-family: 'Sofia Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #acacac;
  }
  .readmoreBtn {
    height: 50px;
    background: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
    box-shadow: 0px 5px 14px rgba(226, 74, 128, 0.38);
    border-radius: 4px;
    border: 0;
    font-family: 'Sofia Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #ffffff;
    &:hover {
      background: linear-gradient(90deg, #ff00c8 0%, #00aade 100%);
  }
  }
  .date {
    font-family: 'Sofia Pro Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #e2e2e2;
  }
  .commentIcon {
    margin-top: -65px;
    svg {
      width: 32px;
      height: 26px;
      path {
        fill: #f15f79;
      }
    }
  }
  .calenderIcon {
    svg {
      height: 24px;
      width: 24px;
      path {
        fill: #16bffd;
      }
    }
  }
}
