.profileBasicTabContent {
    .bgRowProfileAccount {
        background-color: #2F1B61;
        margin: 20px 0px;
        border-radius: 6px;
    }

    .cursorPointer {
        cursor: pointer;
    }

    .forHeadingProfile {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #ACACAC;
    }

    .inputField {
        background: #1B0D3D !important;
        border: none !important;
        padding: 14px 24px;
        margin-top: 6px;
        border-radius: 2px !important;
        padding-left: 20px !important;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF !important;
        width: 88%;
    }

    .inputLabel {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #9A9A9A;

    }

    .inputLinkInline {
        position: absolute;
        right: 0;
        top: 24px;
        color: #FFF;
        border: none;
        background: none;
        text-decoration: none;
    }

    .forDeleteBtn {
        margin-top: 15px;
        padding: 14px 24px;
        background: #1B0D3D;
        border: 1px solid #FF1C1C;
        border-radius: 2px;
        color: red;
    }

}