.footer{
    background: #14074B;
    backdrop-filter: blur(101px);
    .logoImg{
        width: 142px;
        height: 135px;
        object-fit: contain;
    }
    .navLinks{
        font-family: 'Sofia Pro Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
    }
}