/* Input Fields */
.input-for-log-in-and-singup-page {
    background-color: #2F1B61 !important;
    border: none !important;
    background-repeat: no-repeat;
    height: 64px;
    background-color: #2F1B61;
    border-radius: 6px !important;
    padding-left: 50px !important;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF !important;
}

#SignUpInputEmail {
    background-image: url(../../assets/images/login-signup-input-icons/email.png);
    background-position: 20px;
}

input[type=checkbox] {
    border-radius: 6px !important;
    padding: 12px !important;
    margin-top: 0px;
}

#SignUpInputPassword {
    background-image: url(../../assets/images/login-signup-input-icons/password.png);
    background-position: 20px;
}

#SignUpInputReEnterPassword {
    background-image: url(../../assets/images/login-signup-input-icons/password.png);
    background-position: 20px;
}

#SignUpInputfirstname {
    background-image: url(../../assets/images/login-signup-input-icons/user.png);
    background-position: 20px;
}

::placeholder {
    padding-left: 0px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF !important;
}

label {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.for-forget-pass-col-2-login {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FC00FF;
}

.submit-btn {
    background: linear-gradient(270deg, #FC00FF 0%, #00DBDE 100%);
    border-radius: 6px;
    width: 100%;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 19px 0px;

}

.for-or-col-2-login {
    background: #354E57;
    border: 1px solid #354E57;
    margin-top: 20px;
    height: 0px;
}

.for-or-text-in-col-2-login {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #354E57;
}

.text-before-singup {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.singup-col-2-login {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FC00FF;
}

/* Singup Page */
/* COL 2 */
.picture-text-col-2-singup {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FEFEFE;
}

.form-check-input,
.form-check-input:checked {
    background-color: #2F1B61;
    border: none;
    box-shadow: none;
    cursor: pointer;

}